<div class="end">
    <p style="position: absolute;
    list-style: none;
    display: flex;
    margin-bottom: 0;
    padding-left: 42%;
    text-align: center;
    background-color: #bcbaba9b;
    color: #232323;
    bottom: 32px;
    width: 100%;">
        Developed with ❤️ by CMP Team
    </p>
    <div style="display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 2em;
    background-color: #232323;
    font-family: 'Nunito Sans';
    font-style: normal;
    color: #F7F7F7;
    width: 100%;
    bottom: 0;">
        <p>&copy; <span id="currentYear"></span> | Institute Computer Centre, IIT Roorkee </p>
    </div>
</div>
<script>
    document.getElementById("currentYear").innerHTML = new Date().getFullYear();
</script>