<div class="end">
    <ul class="footer">
        Developed with ❤️ by CMP Team
    </ul>
    <div class="last">
        <p>&copy; <span id="currentYear"></span> | Institute Computer Centre, IIT Roorkee </p>
    </div>
</div>
<script>
    document.getElementById("currentYear").innerHTML = new Date().getFullYear();
</script>