<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addvenue</title>
</head>

<body>
    <h1> This is the venue page</h1>
    <form action="/addvenue" method="post">
        <input type="text" name="venue_name" placeholder="Add a new Venue">
        <input type="submit">
    </form>
</body>

</html>