<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addvehicle</title>
</head>

<body>
    <h1> This is the Vehicle page</h1>
    <form action="/addvehicle" method="post">
        <input type="text" name="vehicle_name" placeholder="Add a new Vehicle">
        <input type="submit">
    </form>
</body>

</html>