<%- include("partials/header")-%>
    <link rel="stylesheet" href="css/admin_dashboard.css">
    <title>Guesthouse Portal</title>
    </head>

    <body>
        <div class="background">
            <a href="/">
                <img class="header-image" src="images/logo_img.png" alt="">
            </a>

            <div class="header">
                <p class="heading">Guesthouse Admin Dashboard</p>
                <a href="/logout">
                    <img class="logout" src="images/logout.png" alt="">
                    <img class="logout_text" src="images/logout_text.png" alt="">
                </a>
            </div>

            <div class="section">
                <div>
                    <p class="sec_heading">Guesthouse Section</p>
                    <a href="/allguesthouse" class="tag"> <button class="btn">All
                            Listed Guesthouse</button></a>
                    <a href="/requestforguesthouse" class="tag"><button class="btn">Booking
                            Requests</button></a>
                    <a href="/cancellationrequestforguesthouse" class="tag"> <button class="btn">Cancellation
                            Requests</button></a>
                </div>
            </div>


            <%- include("partials/footer-small-page")-%>
    </body>

    </html>