<%- include("partials/header")-%>
    <link rel="stylesheet" href="/css/style.css">
    <title>Conference Management Portal</title>
    </head>

    <body>
        <div class="background">
            <a href="/">
                <img class="header-image" src="/images/logo_img.png" alt="">
            </a>
            <div class="header">
                <p class="heading">Conference Management Portal</p>
            </div>
            <div class="container">
                <img class="login-icon-image" src="/images/loginIcon.png" alt="">
                <p class="form_heading">RESET PASSWORD</p>
                <form action="/reset-password" method="POST" class="login-email" onsubmit="return validateForm()">
                    <div class="input-group">
                        <input type="password" placeholder="PASSWORD" name="password" id="password" value="" required>
                    </div>
                    <div class="input-group">
                        <input type="password" placeholder="CONFIRM PASSWORD" name="password" id="confirmPassword"
                            value="" required>
                    </div>
                    <div class="input-group" style="display: none;">
                        <input type="hidden" name="token" value="<%= token %>" />
                    </div>
                    <div class="input-group">
                        <button name="LOG IN" class="btn">RESET</button>
                    </div>
                    <p class="login-register-text">Want to Login? <a href="/"><u>Click here</u></a>.</p>
                </form>
            </div>
            <%- include("partials/footer")-%>
                <script>
                    function validateForm() {
                        var password = document.getElementById("password").value;
                        var confirmPassword = document.getElementById("confirmPassword").value;

                        if (password !== confirmPassword) {
                            alert("Password and Confirm Password do not match");
                            return false; // Prevent form submission
                        }

                        return true; // Allow form submission
                    }
                </script>
    </body>

    </html>