<%- include("partials/header")-%>
    <link rel="stylesheet" href="css/style.css">
    <title>Conference Management Portal</title>
    </head>

    <body>
        <div class="background">
            <a href="/">
                <img class="header-image" src="images/logo_img.png" alt="">
            </a>
            <div class="header">
                <p class="heading">Conference Management Portal</p>
            </div>
            <div class="container">
                <img class="login-icon-image" src="/images/loginIcon.png" alt="">
                <p class="form_heading">ACCOUNT LOGIN</p>
                <form action="/" method="POST" class="login-email">
                    <div class="input-group">
                        <input type="text" placeholder="EMAIL ID" name="username" value="" required>
                    </div>
                    <div class="input-group">
                        <input type="password" placeholder="PASSWORD" name="password" value="" required>
                    </div>
                    <div class="input-group">
                        <button name="LOG IN" class="btn">LOG IN</button>
                    </div>
                    <%if (error) {%>
                        <p class="error">Invalid Credentials</p>
                        <%}%>
                            <p class="login-register-text">Forgot Password ? <a href="/forgot-password"><u>Click to
                                        Reset</u></a>.
                            </p>
                </form>
            </div>
            <%- include("partials/footer")-%>
    </body>

    </html>