<%- include("partials/header")-%>
    <link rel="stylesheet" href="css/chatPage.css">
    <title>Support Section</title>
    </head>

    <body>
        <div class="background">
            <img class="header-image" src="images/logo_img.png" alt="">
            <div class="header">
                <p class="heading">Support Section</p>
                <a href="/logout">
                    <img class="logout" src="images/logout.png" alt="">
                    <img class="logout_text" src="images/logout_text.png" alt="">
                </a>
            </div>
            <div class="message-background"></div>
            <div class="message-text"></div>
            <div class="messages">Messages</div>
            <div class="message-text-right">
                <p class="text-message">Hi my Name is Rishabh. I am working on a Conference Management Portal.</p>
                <p class="message-time">20-12-2023 05:31 PM</p>
            </div>
            <div class="message-text-left">
                <p class="text-message">Hi my Name is Rishabh. I am working on a Conference Management Portal.</p>
                <p class="message-time">20-12-2023 05:31 PM</p>
            </div>
            <div class="send-message-header">
                <p class="send-message-text">SEND MESSAGE</p>
            </div>
            <div class="send-message">
                <input class="message-input" type="text" placeholder="Type your message...">
                <img class="send-button" src="images/sendMessage.png" alt="">
            </div>
            <%- include("partials/footer")-%>
    </body>

    </html>