body {
    margin: 0;
}

div {
    display: block;
}

.background {
    background: url('images/bg_img.svg');
    width: 100%;
    /* height: 100%; */
}

.header-image {
    position: absolute;
    width: 500px;
    height: 100px;
    left: 50px;
    top: 13.25px;
}

.logout {
    position: absolute;
    left: 96.12%;
    right: 2.08%;
    top: 12.83%;
    bottom: 84.64%;
}

.logout_text {
    position: absolute;
    left: 95.6%;
    right: 2.08%;
    margin-top: -0.5%;
}

.heading {
    font-size: 150%;
    color: white;
    margin: 0;
    margin-top: 20px;
    margin-left: 40px;
    font-family: 'Poppins', sans-serif;
}

.header {
    position: absolute;
    width: 100%;
    height: 72px;
    top: 120px;
    background: #4A7EAD;
    box-shadow: 2px 2px 34.5962px 8.89616px rgba(0, 0, 0, 0.3);
}

.section {
    width: 95%;
    background: #DCE6F0;
    margin: auto;
    margin-top: 14.5%;
}

hr {
    width: 100%;
}

.sec_heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 60px;
    display: flex;
    margin-top: 10px;
    margin-left: 35px;
    margin-bottom: 2.5px;
    align-items: center;
    color: #244862;
}

.tag {
    display: inline-block;
    box-sizing: border-box;
    width: 360px;
    height: 47px;
    margin-left: 35px;
    /* margin-right: 70px; */
    margin-bottom: 30px;
}

.btn {
    box-sizing: border-box;
    cursor: pointer;
    width: 360px;
    height: 47px;
    background: #244862;
    border: 0.5px solid #244862;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    /* margin-right: 70px; */
    margin-bottom: 30px;
    color: #F8F8F8;
}

.btn2 {
    /* width: 120px; */
    height: 55px;
    cursor: pointer;
    background: #244862;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 52px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 70px;
    margin-top: 10px;
}

.footer {
    position: relative;
    list-style: none;
    display: flex;
    margin-top: 2%;
    margin-bottom: 0;
    padding-left: 42%;
    text-align: center;
    background-color: #bcbaba9b;
    color: #232323;
}

.footer li {
    padding-right: 0.8em;
    cursor: pointer;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.last {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    /* Center horizontally */
    text-align: center;
    height: 2em;
    background-color: #232323;
    font-family: 'Nunito Sans';
    font-style: normal;
    color: #F7F7F7;
    width: 100%;
}

.last p {
    margin: 0;
    /* Remove default paragraph margins */
}

.support-img {
    width: 130px;
}